*, *::after, *::before{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

button{
    margin: 15px;
}

.btn{
    background-color: var(--b);
    padding: 5px 10px;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    
    --b: red;
    --border: 2px;
}

.btn.animat1::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid red;
    /* border: var(--border) solid var(--b); */
    z-index: -1;
    transition: top, left, right, bottom, 200ms ease-in-out;
}

.btn.animat1:hover::before{
    top: calc(var(--border)* -2);
    bottom: calc(var(--border)* -2);
    left: calc(var(--border)* -2);
    right: calc(var(--border)* -2);
}

.btn.animat2::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: yellow;
    transition: 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;

}

.btn.animat2:hover::before{
    transform: scaleX(1);
}

.btn.animat2{
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.btn.animat2:hover{
    color: red;
}

